html,body{
    height: 100%;
}

body{
    background-color: hsl(30, 38%, 92%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.maincontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 353px;
    width: fit-content;
    background-color: white;
    border-radius: 10px;

}


.contentctn{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 285px;
}

img{

    border-radius: 10px 0px 0px 10px;
    height: 350px;
    padding-top: 4px;
    width: 254px;

}

.hero {
    background-image: url('desktop.jpg');
    border-radius: 10px 0px 0px 10px;
    height: 350px;
    padding-top: 4px;
    width: 254px;
}

.header1ctn{
    padding-right: 139px;
    padding-left: 21px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 500;
}

.header2ctn{
    font-weight: 900;
    font-size: xx-large;
    margin-inline: 21px;
    padding-right: 43px;
}

.paragraphctn{

    margin-inline: 37px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: small;

}

.pricingctn{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-right: 43px;
}

.price1{
    color: rgb(63, 129, 105);
    font-weight: 900;
    font-size: xx-large;
}

.price2{
    color: hsl(228, 12%, 48%);
    padding-top: 9px;
    font-size: small;
    text-decoration: line-through;
}

button{
    
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 182px;
    height: 35px;
    border: unset;
    border-radius: 5px;

}


button:hover {
    transform: scale(1.1,1.1);
    color: white;
    background-color: hsl(158, 36%, 37%);
}

.attribution{
    padding-top: 5px;
}

@media only screen and (max-width:1440px) {
    img{
    border-radius: 10px 10px 0px 0px;
    height: 257px;
    padding-top: 0px;
    width: 284.6px;
  }

  
  .maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 560px;
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    }

    .contentctn {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 285px;
    padding-bottom: 11px;
    }
    
}
    